<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="resolution" value="150"/>
		<add key="width_pixel" value="1250"/>
		<add key="height_pixel" value="1700"/>
		<add key="color_mode" value="1"/>
	</appSettings>
</configuration>